*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}


div#tableHeader{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

div.bookItems{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &:hover, &:focus{
        background-color: rgba(70, 107, 226, 0.459);
        border: 1px solid #000;
    }
}

div.bookSubItems{
    pointer-events: none; // Avoid the child el being call when the event listener is in parent.
}

div#mainInfoDiv{
    border: 1px solid black;

    li{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}

/* ******************FORM********************* */
// for the option to be gray as the place holders in the form
%input{
    width: 200px;
    height: 30px;
    padding: 5px;
}

select{
    @extend %input;

    &:required:invalid{
        color:gray;
    }
}

option{
    color:black;

    &[value = ''][disabled]{
    display: none;
    }
}
//

button.buttons{
    @extend %input;
    width: 100px;
}

input[type = 'date']{
    @extend %input;
}

input[type = 'text']{
    @extend %input;
}

/* ******************FORM********************* */
