*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

button.buttons{
    width: 99px;
    height: 22.4px;
}

div#tableHeader{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.bookItems{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &:hover, &:focus{
        background-color: rgba(70, 107, 226, 0.459);
        border: 1px solid #000;
    }
}

div.bookSubItems{
    pointer-events: none; // Avoid the child el being call when the event listener is in parent.
}